<div>
  <h3>
    Examples (open console to see the results)
  </h3>
  <div>
    <!-- <label>Clear console before every example
      <input type="checkbox" checked>
    </label> -->
  </div>
  <div class="examples-buttons">
    <button (click)="examples.mergeMap()">Merge map</button>
    <button (click)="examples.switchMap()">Switch map</button>
    <button (click)="examples.concatMap()">Concat map</button>
    <button (click)="examples.flatteningArrays()">Flattening arrays</button>
  </div>
</div>

<router-outlet></router-outlet>
